*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
nav{
    width: 90%;
    height: 120px;
    margin: 0 auto;
    background-color: lawngreen;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    padding: 10px;
}
.menu{
    list-style: none;
    display: flex;
    padding: 10px;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 0.7rem;
}
.menu a:hover{
    background-color: rgb(193, 86, 86);
    color: lawngreen;
    border-radius: 20px;
}